# systemd service script for the meter
# https://www.freedesktop.org/software/systemd/man/bootup.html
[Unit]
Description=Meter
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/apps/meter/start.sh
Restart=always

[Install]
WantedBy=multi-user.target