# systemd service script for the modbusmeter
# https://www.freedesktop.org/software/systemd/man/bootup.html
[Unit]
Description=ModbusMeter
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/apps/modbusmeter/start.sh
Restart=always

[Install]
WantedBy=multi-user.target